<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>The Story Game</title>
    </head>
    <header>
        The Story Game ONLINE
    </header>
    <body>
        <p style="font-size: small; font-family:'Times New Roman', Times, serif">
Welcome to the Story Game online!
<a href="/login-page">Login</a>
</p>
    </body>
</html>