<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
        <meta charset="UTF-8">
        <title>waiting...</title>
        <!-- JS frontend time let's go -->
        <script>
            function checkForRoundFinished () {
                fetch('/check-round-finished')
                    .then(response => response.json())
                    .then(data=> {
                        console.log(data.redirect)
                        if (data.redirect == true) {
                            // send us to the next story writing page
                            window.location.href = '/writing-page';
                        }
                        else if (data.redirect == 'GAMEOVER') {
                            // take us to the story reviewing page
                            window.location.href = '/review-stories';
                        }
                    })
                    .catch(error => console.error('Que paia! Error:', error));
            }
            // let's do this check every 10 seconds.
            setInterval(checkForRoundFinished, 10*1000);
        </script>
    </head>
    <body>
        <h2>Rigmarole ONLINE</h2>
        <p style="font-size: small;">waiting for everybody else to finish...</p>
    </body>
</html>